// style definitions for hamburger menu

.hamcontainer {
    position: absolute;
    top: 5px;
    left: 10px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.hambar1, .hambar2, .hambar3 {
    width: 35px;
    height: 5px;
    border-radius: 2px;
    background-color: white;
    margin: 6px 0;
//    transition: 0.15s;
}

.change .hambar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .hambar2 {
    opacity: 0;
}

.change .hambar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
