// style definitions for main page horizontal nav bar

.main-nav-bar {
    position: absolute;
    top: 60px;
    left: -100px;
    width: 92px;
    z-index: 1;
    background-color: #FF5722;
    transition: 0.25s ease-out;
}

.change .main-nav-bar {
    left: 0px;
}

.main-nav-list {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px; 
    margin-bottom: 0px;
    list-style-type: none;
    padding: 2px;
}

.main-nav-item {
    margin: 5px;
}
a.main-nav-link:link, a.main-nav-link:visited {
    font-family: "Arial", Gadget, sans-serif;
    font-size: 14px;    
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
a.main-nav-link:hover, a.main-nav-link:active {
    background-color: #D84315;
}

