// style definitions for main page horizontal nav bar

.main-nav-bar {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
    background-color: rgb(254, 233, 80);
    outline: black solid thin;
}
.main-nav-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px; 
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0px;
}
.main-nav-item {
    display: inline;
    float: left;
}
a.main-nav-link:link, a.main-nav-link:visited {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;    
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
a.main-nav-link:hover, a.main-nav-link:active {
    background-color: rgb(254, 244, 167);
}

