<!-- the main page horizontal menu bar -->
<div class="main-nav-bar" id="main-nav-bar">
    <ul class="main-nav-list">
        <li class="main-nav-item"><a class="main-nav-link" href="p010_kc85.html" target="_blank">about</a></li>
        <li class="main-nav-item"><a class="main-nav-link" href="index.html">asm.js</a></li>
        <li class="main-nav-item"><a class="main-nav-link" href="index_wasm.html">wasm</a></li>
        <li class="main-nav-item"><a class="main-nav-link" href="http://github.com/floooh/yakc" target="_blank">github</a></li>
    </ul>
</div>

