<div id="nav">
    <div class="nav-btn" onclick="nav_toggle()">
        <div class="nav-btn-bar1"></div>
        <div class="nav-btn-bar2"></div>
        <div class="nav-btn-bar3"></div>
    </div>
    <div class="main-nav-bar" id="main-nav-bar">
        <ul class="main-nav-list">
            <li class="main-nav-item">
                <div class="main-nav-link" onclick="nav_toggle();toggle_systems_panel();">system...</div>
            </li>
            <li class="main-nav-item">
                <div class="main-nav-link" onclick="nav_toggle();yakc_power();">cold boot</div>
            </li>
            <li class="main-nav-item">
                <div class="main-nav-link" onclick="nav_toggle();yakc_reset();">warm boot</div>
            </li>
            <li class="main-nav-item">
                <div class="main-nav-link" onclick="nav_toggle();toggle_quickload_panel();">quickload...</div>
            </li>
            <li class="main-nav-item">
                <div class="main-nav-link" onclick="nav_toggle();toggle_load_panel();">load file...</div>
            </li>
            {% if page.asmjs == true %}
            <li class="main-nav-item">
                <a class="main-nav-link" onclick="nav_toggle()" href="index.html">wasm version</a>
            </li>
            {% elsif page.wasm == true %}
            <li class="main-nav-item">
                <a class="main-nav-link" onclick="nav_toggle()" href="index_asmjs.html">asm.js version</a>
            </li>
            {% endif %}
            <li class="main-nav-item">
                <a class="main-nav-link" onclick="nav_toggle()" href="http://github.com/floooh/yakc" target="_blank">source</a>
            </li>
            <li class="main-nav-item">
                <a class="main-nav-link" onclick="nav_toggle()" href="p010_kc85.html" target="_blank">about yakc</a>
            </li>
        </ul>
    </div>
</div>
