<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="nav">
      {% include nav.html %}
    </div>
    <div class="game-border" id="game-border">
      <canvas class="game" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
    </div>
    <script type="text/javascript" src="emsc.js"></script>
    {% if page.asmjs == true %}
    <script async type="text/javascript" src="yakcapp.js"></script>
    {% else %}
    <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'yakcapp.wasm.txt', true)
        xhr.responseType = 'arraybuffer';
        xhr.onload = function() {
          Module.wasmBinary = xhr.response;
          var script = document.createElement('script');
          script.src = "yakcapp.wasm.js";
          document.body.appendChild(script);
        };
        xhr.send(null);
    </script>
    {% endif %}
  </body>
</html>

