html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: linear-gradient(rgb(175,203,219),rgb(25,112,195));
}

@font-face {
    font-family: 'kcfont';
    src: url('font.ttf');
}

.top-padding {
    height: 10px;
}

.title {    
    text-align: left;
    font-family: 'kcfont';
    font-size: 40px;
    background-color: black;
    color: white;
    min-width: 500px;
    padding-left: 30px;
    padding-top: 8px;
}
.subtitle {
    font-size: 18px;
    padding-left: 20px;
    background-color: black;
    color: white
}
.title-border {
    height: 4px;
    background: rgb(229,76,84);
}
/** navigation bar **/
.nav-bar {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: rgb(254, 233, 80);
    outline: black solid thin;
}
.nav-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px; 
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0px;
}
.nav-item {
    display: inline;
    float: left;
}
a.nav-link:link, a.nav-link:visited {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;    
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
a.nav-link:hover, a.nav-link:active {
    background-color: rgb(254, 244, 167);
}
/* this breaks the float after the navbar */
.break {
    clear: both;
}

.bottom {
    height: 20px;
}

.game-border {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* the emscripten canvas must not have any border or padding, or mouse coords will be wrong */
.game {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 0px none;
    display: block;
    outline: black solid thin;
}
.game:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
/* styling for the about page */
.about-textbox {
    text-align: center;
    font-family: 'courier';
    font-size: 20px;    
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 700px;
    height: auto;
    background-color: white;
    outline: black solid thin;
}
a.about-link:link, a.about-link:visited {
    color: #19A3FF;
    text-decoration: none;
}

a.about-link:hover, a.about-link:active {
    color: #0C5280;
}

